<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detalhes.css">
    <title>Detalhes</title>
</head>
<body>
    <section id="topbar">
        <h1 id="titulo">POKEDEX</h1>
        
   
    
        <nav id="menu">
        <ul class="links">
            <li><a id="btn2" href="/">Voltar para a página inicial</a></li>
            <li><a id="btn1" href="/cadastro">Cadastrar novo pokemon</a></li>
        </ul>
        </nav>
    </section>

        <div>
        <h1>
            <%= pokemon.nome %><span> N° <%= pokemon.numero %> </span>
        </h1>
        </div>
    

    <section id="detalhes">
        <img src="<%= pokemon.imagem %>" alt="">
            <div >
                <h2>Descrição: </h2>
            <p>
                <%= pokemon.descricao %>
            </p>
            <div>
                <div>
                    <h2>Altura:</h2>
                    <p>
                        <%= pokemon.altura %>
                    </p>
                    <h2>Peso:</h2>
                    <p>
                        <%= pokemon.peso %>
                    <p>
                </div>
                <div>
                    <h2>Categoria:</h2>
                    <p>
                        <%= pokemon.categoria %>
                    </p>
                    <h2>Habilidade:</h2>
                    <p>
                        <%= pokemon.habilidade %>
                    </p>
                </div>
            </div>
            <h2>Tipo:</h2>
            <p>
                <%= pokemon.tipo %>
            </p>
        </div>


    </section>

    <script src="/js/script.js"></script>
</body>
</html>
